@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	color-scheme: dark;
}

@layer utilities {
	.bg-glassBlur {
		@apply backdrop-filter backdrop-brightness-100 drop-shadow-xl backdrop-blur-sm bg-opacity-5  border-gray-200;
	}

	.bg-indigoGlass {
		@apply bg-indigo-700/50 backdrop-blur-lg backdrop-filter;
	}
	.bg-gradient_purple {
		@apply bg-gradient-to-r from-indigo-500/80 via-purple-500/80 to-pink-500 backdrop-blur-lg backdrop-filter;
	}
}

/* width */
::-webkit-scrollbar {
	width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
